.header {
    border-bottom: 1px solid #E5E5E5;
    position: fixed;
    top: 0;
    width: 100%;
    background: #fafafa;
    overflow: hidden;
    z-index:20;
    text-align:center;
    @include media-breakpoint-down(md) {
        margin: 0;
    }
}

.logo {
    width: 150px;

}

@media all and (max-width: 768px) {
    .logo {
        margin-top:20px;
    }
}
.sun {
    opacity: 1;
    cursor: pointer;
}

.moon {
    opacity: 1;
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider-layout {
    position: absolute;
    cursor: pointer;
    top: 5px;
    left: 2px;
    right: 2px;
    bottom: 0;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
    border: 1px solid #212529;
}

.slider-layout:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    background-color: #EE702E ;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .slider-layout {
    background-color: #ccc;
}

input:focus + .slider-layout {
    box-shadow: 0 0 1px #ccc;
}

input:checked + .slider-layout:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
}

/* Rounded slider-layouts */
.slider-layout.round {
    border-radius: 50px;
}

.slider-layout.round:before {
    border-radius: 50%;
}

.search {
    color: #000000d9;
    font-size: 20px;
    cursor: pointer;
    left: 20px;
}

.subscribe-button {
    padding: 25px;
    background-color: #EE702E;

    &:hover {
        background-color: darken(#EE702E, 10%);
        text-decoration: none;
    }

    a {
        color: white;
        text-decoration: none;
    }
}
.header-menu{
    width: 1200px; right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}